<main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      
      <!-- Your content -->
      <div class="main-div">
      <div class="chart1">
    
   
    <!-- <canvas id="acquisitions" ></canvas> -->
    <!-- <ul>
      <h1>Data from Database:</h1>
    <ul>
      <% data.forEach(item => { %>
        <li><%= item.name %></li>
      <% }) %>
    </ul> -->
    
   
      </div>
     <div class="chart2" >
    <!-- Content for the second chart in the top row -->
       <p>Chart 2</p>
   
       </div>
 
    </div>

     <div class="main-div">
      <div class="chart2">
    <!-- Content for the third chart in the bottom row -->
      <p>Chart 3</p>
      <canvas id="acquisitions"></canvas>
    <!-- <canvas id="acquisitions"></canvas> -->
       </div>
       <div class="chart1">
    <!-- Content for the fourth chart in the bottom row -->
      <p>Chart 4</p>
     
    </div>
   </div>

      
      










        <!-- Your content -->
    </div>
  </main>

    <!-- <h2>Counts for Hindi Values:</h2>
       <ul>
         <li>Count of values > 90 and < 100: <%= countArray[0] %></li>
         <li>Count of values > 80 and < 90: <%= countArray[1] %></li>
         <li>Count of values from 0 to 80: <%= countArray[2] %></li>
       </ul> -->
       <!-- <canvas id="poi"></canvas> -->