body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  form {
    max-width: 400px;
  }

  h1 {
    font-weight: bold;
    color: #fff;
    background-color: #213449;
    padding: 15px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 0;
  }
  .home-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
  }